@model WebApplication1.Models.Partner


@{
    ViewData["Title"] = "Unos novog partnera";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to enter valid information for new partner.</p>



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerNumber" class="control-label"></label>
                <input asp-for="PartnerNumber" class="form-control" />
                <span asp-validation-for="PartnerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CroatianPIN" class="control-label"></label>
                <input asp-for="CroatianPIN" class="form-control" />
                <span asp-validation-for="CroatianPIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerTypeId" class="control-label"></label>
                <input asp-for="PartnerTypeId" class="form-control" />
                <span asp-validation-for="PartnerTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAtUtc" class="control-label"></label>
                <input asp-for="CreatedAtUtc" class="form-control" />
                <span asp-validation-for="CreatedAtUtc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsForeign" class="control-label"></label>
                <input asp-for="IsForeign" class="form-control" />
                <span asp-validation-for="IsForeign" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExternalCode" class="control-label"></label>
                <input asp-for="ExternalCode" class="form-control" />
                <span asp-validation-for="ExternalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
